a {
  color: pink;
  text-decoration: none;
}

a:link {
  color: teal;
}

a:visited {
  color: lime;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: white;
}

input {
  outline: none;
  width: 100px;
  transition: all 1s;
}

input:focus {
  width: 200px;
  outline: 100px solid black;
  border: 100px solid white;
}
